/*remove the basic style from the html*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    21deg,
    aqua,
    #fda085
  ); /*add a beautiful gradient to dazzle your viewers*/
  font-family: "Poppins", serif;
  min-height: 100vh; /*take the whole page*/
  border: none;
}

header {
  font-size: 1.5rem;
}

header,
/*give the form 20% of the page, get it all aligned in the center vertically and horizontally*/
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*general styling of the form/button*/
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #d88771;
  background: white;
  cursor: pointer; /*change pointer when hovering above button to a pointer*/
  transition: all 0.3s ease; /*transition format when hovering above*/
}

/*change the colour to invert when hovered*/
form button:hover {
  background: #d88771;
  color: white;
}

/*positioning the container into center again*/
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

/*this will push the check box and bin icon to the far right*/

.todo li {
  flex: 1;
}

/*styling buttons for better aesthetics*/
.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: green;
}

.todo-item {
  padding: 0rem 0.5rem;
}

/*problem when clicking on remove button - added CSS to fix the issue. */
.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem), rotateZ(20deg);
  opacity: 0;
}

/*we are removing all the styles from the select, as we can't actually style it, then we manipulate the parent div */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #ff6f47;
  width: 10rem;
  cursor: pointer;
  padding: 1.2rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #ff6f47;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: white;
  color: #ff6f47;
}
